<div class="container d-flex row justify-content-center">
    <div class="card m-2 d-flex row justify-content-center">
        <div class="card-header">
            Solicitar Turno
        </div>
        <div class="card-body">           
            <p>Solicita el turno con el especialista necesario</p>
            <button class="btn btn-primary" [routerLink]="['pacientes/nuevoTurno']">Nuevo turno</button>
        </div>
    </div>
    <div class="card m-2 d-flex row justify-content-center">
        <div class="card-header">
            Mis Turnos
        </div>
        <div class="card-body">           
            <p>Revisa y administra tus turnos como sea necesario</p>
            <button class="btn btn-primary" [routerLink]="['pacientes/misturnos']">Mostrar Turnos</button>
        </div>
    </div>
</div>
