<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" [routerLink]="['home']">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['usuarios']">Usuarios</a>
                </li>              
            </ul>           
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['pacientes']">Turnos</a>
                </li>              
            </ul>
        </div>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" *ngIf="!this.estaLogeado">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['ingresar']">Ingresar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" [routerLink]="['registrar']" role="button" id="navbarDropdownMenuLink">
                        Registrar
                    </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" *ngIf="this.estaLogeado">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" role="button" (click)="this.Desloguear()">Cerrar sesion</a>
                </li>              
            </ul>           
        </div>
    </div>
</nav>