<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{this.turno?.id}}Cancelar Turno</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">¿Porque cancela el turno?</label>
        <div class="input-group">
          <textarea class="form-control" aria-label="With textarea" name="comentario"
            [(ngModel)]="this.comentario"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="this.cancelarTurno()">Guardar</button>
</div>