<div class="d-flex">
  <div class="m-2">
    <label class="m-1" for="">Filtrar Por: </label>
    <select name="filtropor" id="filtropor" [(ngModel)]="this.filtropor">
      <option value="ESPECIALISTA">Especialista</option>
      <option value="ESPECIALIDAD">Especialidad</option>
    </select>
  </div>
  <div class="m-2">
    <input type="text" name="filtro" [(ngModel)]="this.filtro">
  </div>
</div>

<div class="d-flex column justify-content-center">
  <table class="table border border-4 m-2">
    <thead>
      <tr>
        <th scope="col">DIA/MES</th>
        <th scope="col">HORARIO</th>
        <th scope="col">ESTADO</th>
        <th scope="col">ESPECIALIDAD</th>
        <th scope="col">ESPECIALISTA</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of this.listaturnos | filtrado:filtropor:filtro">
      <tr>
        <td>{{item.dia}}/{{item.mes}}</td>
        <td>{{item.horario}}hs</td>
        <td>{{item.estado}}</td>
        <td>{{item.especialidad}}</td>
        <td>{{item.nombreApellidoEspecialista}}</td>
        <td><button class="btn btn-danger" (click)="this.openCancelar(templateCancelar,item)" *ngIf="item.estado == 'PENDIENTE'">Cancelar
            Turno</button></td>
        <td *ngIf="item.comentario !='' "><button type="button" class="btn btn-info" (click)="this.openComentario(templateComentario,item)">Ver comentarios</button></td>
        <td><button class="btn btn-success" *ngIf="item.estado == 'ATENDIDO'">Calificar Atencion</button></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #templateCancelar>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cancelar Turno</h4>
  </div>
  <div class="modal-body text-center">
    <label for="dateOfBirth">¿Porque cancela el turno?</label>
    <div class="input-group">
      <textarea class="form-control" aria-label="With textarea" name="comentario"
        [(ngModel)]="this.comentario"></textarea>
    </div>
    <button type="button" class="btn btn-default" (click)="confirm()">Guardar</button>
  </div>
</ng-template>

<ng-template #templateComentario>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cancelar Turno</h4>
  </div>
  <div class="modal-body text-center">
    <label for="dateOfBirth">Comentario: </label>
    <div class="input-group">
      <textarea class="form-control" aria-label="With textarea" name="comentario"
        [(ngModel)]="this.comentario" disabled="{{true}}"></textarea>
    </div>
    <button type="button" class="btn btn-default" (click)="this.bsModalRef?.hide()">Cerrar</button>
  </div>
</ng-template>