<div class="container d-flex justify-content-center flex-column">
    <div class="d-flex flex-row justify-content-center">
        <h1>Nuevo turno</h1>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <div class="m-5">
            <app-formturno (listaDeEspecialistaFiltrada)="tomarLista($event)"></app-formturno>
        </div>
        <div class="m-5">
            <app-list-especialista [ListaUsuarios]="this.listaEspecialistas" (especialistaSeleccionado)="this.tomarEspecialista($event)"></app-list-especialista>
        </div>
    </div>
    <div>
        <app-calendarioturnos (nuevoTurno)="this.tomarTurno($event)"  [disponibilidad]="this.arrayDisponibilidad"></app-calendarioturnos>
    </div>
</div>