<div class="container d-flex justify-content-center border border-4">
    <div class="d-flex flex-row justify-content-center m-2">
        <div class="m-2">
            <app-formturno (listaDeEspecialistaFiltrada)="tomarLista($event)"></app-formturno>
        </div>
        <div class="m-2">
            <app-list-especialista [ListaUsuarios]="this.listaEspecialistas" (especialistaSeleccionado)="this.tomarEspecialista($event)"></app-list-especialista>
        </div>
    </div>
    <div>
        <app-calendarioturnos (nuevoTurno)="this.tomarTurno($event)"  [disponibilidad]="this.arrayDisponibilidad"></app-calendarioturnos>
    </div>
</div>