<form [formGroup]="form" class="text-center">
    <div>
        <label for="especialidad" class="form-label">Selecciones la Espelicidad</label>
        <div class="form-check form-switch" *ngFor="let esp of this.serviceEspecialidad.especialidades">
            <input class="form-check-input" type="radio" formControlName="especialidad" role="switch" value="{{esp}}" (change)="this.enviar(esp)">
            <label class="form-check-label" for="flexSwitchCheckDefault">{{esp}}</label>
        </div>
    </div>
</form>